---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead
      title="Seite existiert nicht"
      description="Diese Seite existiert nicht."
    />
	</head>
	<body>
		<Header />
		<main>
			<h1>Seite existiert nicht</h1>
      <p>Diese Seite existiert nicht. Gehe zur <a href="/">Home-Seite</a>.</p>
		</main>
		<Footer />
	</body>
</html>
